.item {
  width: 100%;
  min-width: 0;
  background-color: #00ffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
  text-align: center;
  transition: transform 0.3s;
}

.item:hover {
  transform: scale(1.05);
}