

.box {
  position: relative;
  width: 100%;
  height: 160px;
  /* Фіксована висота */
  background-color: #111827;
  border-radius: 16px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0 0 10px #00ffff50, 0 0 20px #00ffff30;
  overflow: hidden;
  transition: 0.3s;
}

.box:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px #00ffff, 0 0 30px #00ffff;
}

.deleteButton,
.editButton {
  position: absolute;
  top: 10px;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.deleteButton {
  right: 10px;
  color: #ff006e;
}

.editButton {
  left: 10px;
  color: #9b5de5;
}

.deleteButton:hover,
.editButton:hover {
  transform: scale(1.2);
  filter: brightness(1.5);
}